:root {
  --color-primary: #f2c04c;
  --gray-color: #959595;
  --dim-color: #d9d9d9;
  --bg-color: #f4f4f4;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.text-title {
  font-size: 25px;
  font-weight: 700;
}

.text-base {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
}

.text-small-highlight {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}

main {
  background-color: #252526;
  display: grid;
  flex-direction: column;
}

.pizza-img {
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.realistic-pizza {
  max-width: 250px;
  position: absolute;
  bottom: -95px;
  left: calc(50% - 125px);
}

.login {
  background-color: var(--bg-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  min-height: calc(100vh - 200px);
  box-sizing: border-box;
  justify-content: center;
}

form {
  display: grid;
  grid-gap: 32px;
  max-width: 270px;
  width: 100%;
}

input.input-base {
  text-decoration: none;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  height: 56px;
  background-color: var(--bg-color);
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 16px);
  background-position-y: center;
}

input.input-base.error {
  border-color: red;
}

input.input-base.valid {
  border-color: rgb(15, 177, 15);
}

.input-icon-user {
  background-image: url(images/user.svg);
}

.input-icon-lock {
  background-image: url(images/lock.svg);
}

input[type="submit"] {
  background-color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  height: 51px;
  border-radius: 8px;
  border: none;
}

::placeholder {
  color: var(--dim-color);
}

p.error-description {
  color: red;
  display: none;
}

p.error-description.visible {
  display: block;
}

@media screen and (min-width: 992px) {
  main {
    background-color: #252526;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 100vh;
  }

  .pizza-img {
    height: 100%;
  }

  .realistic-pizza {
    max-width: 500px;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
  }

  .login {
    border-radius: 0px;
  }
}